*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

node_modules/ linguist-vendored
dist/ linguist-vendored
build/ linguist-vendored
.output/ linguist-vendored

*.js linguist-vendored
*.jsx linguist-vendored
